{{template "header" .}}
<form action="/users" method="post">
  <div>
    <label for="email">Email Address</label>
    <input name="email" type="text" id="email" placeholder="Emaill Address" required autocomplete="email"/>
  </div>
  <div>
    <label for="password">Password</label>
    <input name="password" type="password" id="password" placeholder="Password" required/>
  </div>
  <div>
    <button type="submit">Sign up</button>
  </div>
</form>
{{template "footer" .}}
